//- include components/libs/_libs

doctype html
html(lang="zxx")
  include components/_head
  include components/_header-nav
  include components/_welcome-screen
  include components/_about-us
  include components/_services
  include components/_works
  include components/_pricing
  include components/_team
  include components/_blog
  include components/_contact
  include components/_footer